body {
    background-color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px;
}

.logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 10px 0;
}

.logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
}

.sidebar__link {
    margin-left: 8px;
}

.biblioteca {
    background-color: #121212;
    border-radius: 8px;
    padding: 4px 8px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
}

button {
    cursor: pointer;
}

.biblioteca .biblioteca__content {
    display: flex;
    justify-content: space-between;
}

.biblioteca .biblioteca__button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.biblioteca .biblioteca__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
}

.biblioteca .biblioteca__content .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 4px;
    background-color: #242424;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    color: #000;
    border: 0px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    width: 113px;
    background-color: #fff;
}

.biblioteca .cookies {
    margin: 25px 20px;
}

.biblioteca .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}

.biblioteca .cookies:hover {
    text-decoration: underline;
}

.languages .languages__button {
    align-items: center;
    border: 1px solid #878787;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    margin: 8px;
    font-weight: bold;
    width: 170px;
    background-color: transparent;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    padding: 16px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px 16px;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer button {
    width: fit-content;
    border: 0;
    border-radius: 100px;
    padding: 8px 32px;
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    background-color: #fff;
}

footer button:hover {
    transform: scale(1.04);
}

.title {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}

.subtitle {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
}